<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insightlyze</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        function toggleFields() {
            const eventType = document.getElementById('event-type');
            const customText = document.getElementById('custom-text');
            const sender = document.getElementById('sender');

            if (eventType.value === 'Custom Search') {
                customText.parentElement.style.display = 'block';
                sender.parentElement.style.display = 'block';
            } else {
                customText.parentElement.style.display = 'none';
                sender.parentElement.style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            toggleFields();
            document.getElementById('event-type').addEventListener('change', toggleFields);
        });
    </script>
</head>
<body>
    <header class="main">
        <nav>
            <a href="#" class="logo">
                <img src="{% static 'images/logo.png' %}" width="200" height="60"/>
            </a>

            <ul class="menu">
                <li><a href="#contact-form" class="active">Home</a></li>
                <li><a href="#features">Product</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="main-heading">
            <h1>Infuse Data Everywhere You Work</h1>
            <p>Our product provides a complete view of planned or unplanned events in a conversation</p>
            <a class="main-btn" href="#contact-form">Click Here</a>
        </div>
    </header>

    <section class="features" id="features">
        <div class="feature-container">

            <div class="feature-box">
                <div class="f-img">
                    <img src="{% static 'images/info-icon1.png' %}"/>
                </div>
                    <div class="f-text" style="padding-left: 25px;">
                      <h4>Highly Positive and Highly Negative Customer Sentiment</h4>
                      <p>Factors that make customers very satisfied or very upset</p>
                      <a href="#" class="main-btn">Check</a>
                   </div>
            </div>

            <div class="feature-box">
                <div class="f-img">
                    <img src="{% static 'images/info-icon2.png' %}"/>
                </div>
                <div class="f-text" style="padding-left: 25px;">
                    <h4>Chats Transfer</h4>
                    <p>Reasons for which Agents transfer customers to another queue and the effect of the transfer on customer experience</p>
                    <a href="#" class="main-btn">Check</a>
                </div>
            </div>

            <div class="feature-box">
                <div class="f-img">
                    <img src="{% static 'images/info-icon3.png' %}"/>
                </div>
                <div class="f-text" style="padding-left: 25px;">
                    <h4>Phone Referral</h4>
                    <p>Reasons for which Agents refer customer to phone and the effect of the referral on customer experience</p>
                    <a href="#" class="main-btn">Check</a>
                </div>
            </div>
        </div>
    </section>
<br><br>
  <div class="contact-heading">
            <h1>Event Management</h1>
            <p>Please choose the below event type</p>
  </div>
<form action="/analyze" method="post" class="contact" id="contact-form">
  {% csrf_token %}
    <div class="form-group">
        <label for="client" style="font-weight: bold; text-align: center;">Client:</label>
        <select name="client" id="client">
            <option value="ATT Mobility">ATT Mobility</option>
            <option value="Optus">Optus</option>
            <option value="Kohls">Kohls</option>
            <option value="SiriusXM Canada">SiriusXM Canada</option>
            <option value="Best Buy Canada">Best Buy Canada</option>
            <option value="Best Buy US">Best Buy US</option>
            <option value="BJs">BJs</option>
        </select>
    </div>
    <div class="form-group">
        <label for="event-type" style="font-weight: bold; text-align: center;">Event Type:</label>
        <select name="event-type" id="event-type">
            <option value="Highly Negative Customer Sentiment">Highly Negative Customer Sentiment</option>
            <option value="Highly Positive Customer Sentiment">Highly Positive Customer Sentiment</option>
            <option value="Phone Referral">Phone Referral</option>
            <option value="Chat Transfer">Chat Transfer</option>
            <option value="Credit/ Adjustment">Credit/ Adjustment</option>
            <option value="Custom Search">Custom Search</option>
            <option value="Order Confirmation">Order Confirmation</option>
            <option value="Sale Attempt">Sale Attempt</option>
        </select>
    </div>
    <div class="form-group">
        <label for="period" style="font-weight: bold; text-align: center;">Period:</label>
        <select name="period" id="period">
            <option value="Period 1">Period 1</option>
            <option value="Period 2">Period 2</option>
            <option value="Period 3">Period 3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sender" style="font-weight: bold; text-align: center;">Sender:</label>
        <select name="sender" id="sender">
            <option value="1">Agent</option>
            <option value="2">Customer</option>
            <option value="1,2">Agent OR Customer</option>
        </select>
    </div>
    <div class="form-group">
        <label for="custom-text" style="font-weight: bold; text-align: center;">Custom Text:</label>
        <textarea name="custom-text" id="custom-text"></textarea>
    </div>
    <button type="submit" class="main-btn contact-btn">Analyze Now</button>
</form>




    <section class="about" id="about">
        <div class="about-img">
            <img src="{% static 'images/about.png' %}">
        </div>
        <div class="about-text">
            <h2>About Us</h2>
            <p>Our product provides a complete view of planned or unplanned events in a conversation and their life-cycle in terms of what drove the event and what impact was noticed. This helps to identify and improve on the process gaps, agent empowerment limitations and agent performance issues.</p>
            <button class="main-btn">Read More</button>
        </div>
    </section>

    <footer class="contact" id="contact">
        <div class="contact-heading">
            <h1>Contact Us</h1>
            <p>You can write to us we will get back to you</p>
        </div>
        <form action="userinformation.php" method="post">
            <input type="text" name="user" placeholder="Your Full Name"/>
            <input type="email" name="email" placeholder="Your E-Mail"/>
            <textarea name="message" placeholder="Type Your Message Here.........."></textarea>
            <button class="main-btn contact-btn" type="submit">Continue</button>
        </form>
    </footer>
</body>
</html>